# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
artifacts/
node_modules/
npm-debug.log
build/
bot.js
coverage/
bin/
/.project
