Source: rainbow-sdk-doc
Section: web
Priority: extra
Maintainer: Alcatel-Lucent Personal Cloud R&D <dev@opentouch.net>
Uploaders: Alcatel-Lucent Personal Cloud R&D <dev@opentouch.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
Xs-Vcs-Git: https://github.com/Rainbow-CPaaS/Rainbow-SDK-Doc

Package: otlite-sdk-node-doc
Architecture: all
Depends: ${misc:Depends}
Description: Rainbow node sdk Download files
 Documentation downloadable for Rainbow Node Sdk.