.dashboard_graph .x_title {
  padding: 5px 5px 7px;
}
.dashboard_graph .x_title h3 {
  margin: 0;
  font-weight: normal;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-size: 18px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
.widget {
  min-width: 250px;
  max-width: 310px;
}
.widget_tally_box .btn-group button {
  text-align: center
}
.widget_tally_box .btn-group button {
  color: inherit;
  font-weight: 500;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
}
ul.widget_tally, ul.widget_tally li {
  width: 100%;
}
ul.widget_tally li {
  padding: 2px 10px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 4px;
}
ul.widget_tally .month {
  width: 70%;
  float: left;
}
ul.widget_tally .count {
  width: 30%;
  float: left;
  text-align: right
}
.pie_bg {
  border-bottom: 1px solid rgba(101, 204, 182, 0.16);
  padding-bottom: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding-bottom: 10px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.widget_tally_box .flex {
  display: flex;
}
ul.widget_profile_box {
  width: 100%;
  height: 42px;
  padding: 3px;
  background: #ececec;
  margin-top: 40px;
  margin-left: 1px;
}
ul.widget_profile_box li:first-child {
  width: 25%;
  float: left;
}
ul.widget_profile_box li:first-child a {
  float: left;
}
ul.widget_profile_box li:last-child {
  width: 25%;
  float: right;
}
ul.widget_profile_box li:last-child a {
  float: right;
}
ul.widget_profile_box li {}
ul.widget_profile_box li a {
  font-size: 22px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  display: block;
  border-radius: 50%;
  padding: 0px;
}
ul.widget_profile_box li a:hover {
  color: #1ABB9C !important;
  border: 1px solid rgba(38, 185, 154, 1);
}
ul.widget_profile_box li .profile_img {
  width: 85px;
  height: 85px;
  margin: 0;
  margin-top: -28px;
}
.widget_tally_box p, .widget_tally_box span {
  text-align: center;
}
.widget_tally_box .name {
  text-align: center;
  margin: 25px;
}
.widget_tally_box .name_title {
  text-align: center;
  margin: 5px;
}
.widget_tally_box ul.legend {
  margin: 0;
}
.widget_tally_box ul.legend p, .widget_tally_box ul.legend span {
  text-align: left;
}
.widget_tally_box ul.legend li .icon {
  font-size: 20px;
  float: left;
  width: 14px;
}
.widget_tally_box ul.legend li .name {
  font-size: 14px;
  margin: 5px 0 0 14px;
  text-overflow: ellipsis;
  float: left;
}
.widget_tally_box ul.legend p {
  display: inline-block;
  margin: 0;
}
.widget_tally_box ul.verticle_bars li {
  height: 140px;
  width: 23%;
}
.widget .verticle_bars li .progress.vertical.progress_wide {
  width: 65%;
}
ul.count2 {
  width: 100%;
  margin-left: 1px;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
}
ul.count2 li {
  width: 30%;
  text-align: center;
}
ul.count2 li h3 {
  font-weight: 400;
  margin: 0;
}
ul.count2 li span {
  font-weight: 300;
}

.tiles {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 5px;
  margin-bottom: 0;
}
.tile {
  overflow: hidden;
}

.min_height_480 {
  min-height: 480px;
}

.widget_summary {
  width: 100%;
  display: inline-flex;
}
.widget_summary .w_left {
  float: left;
  text-align: left;
}
.widget_summary .w_center {
  float: left;
}
.widget_summary .w_right {
  float: left;
  text-align: right;
}
.widget_summary .w_right span {
  font-size: 20px;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.x_title .filter {
  width: 40%;
  float: right;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small {
  margin-left: 10px;
}
.x_title span {
  color: #BDBDBD;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}
.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}

.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* *********  timeline  **************************** */

ul.timeline li {
  position: relative;
  clear: both;
}
.timeline .block {
  margin: 0;
  border-left: 3px solid #e8e8e8;
  overflow: visible;
  padding: 10px 15px;
  margin-left: 105px;
}
.timeline.widget {
  min-width: 0;
  max-width: inherit;
}
.timeline.widget .block {
  margin-left: 5px;
}
.timeline .tags {
  position: absolute;
  top: 15px;
  left: 0;
  width: 84px;
}
.timeline .tag {
  display: block;
  height: 30px;
  font-size: 13px;
  padding: 8px;
}
.timeline .tag span {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tag {
  line-height: 1;
  background: #1ABB9C;
  color: #fff !important;
}
.tag:after {
  content: " ";
  height: 30px;
  width: 0;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  pointer-events: none;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 11px solid #1ABB9C;
}
.timeline h2.title, .timeline h2.title-ok, .timeline h2.title-error {
  position: relative;
  font-size: 14px;
  margin: 0;
}

.timeline h2.title:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 3px;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #d2d3d2;
  border-radius: 14px;
  background: #f9f9f9;
}

.timeline h2.title-error:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 2px;
  display: block;
  width: 13px;
  height: 13px;
  border: 3px solid #F44336;
  border-radius: 14px;
  background: #f9f9f9;
}

.timeline h2.title-ok:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 2px;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #4caf50;
  border-radius: 14px;
  background: #f9f9f9;
}

.timeline .byline {
  padding: .25em 0;
}
.byline {
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  font-size: .9375em;
  line-height: 1.3;
  color: #aab6aa;
}
ul.social li {
  border: 0;
}

.epic-title {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.test-title {
    padding: 0 4px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.1px;
    font-weight: 500;
}

.api-title {
    padding: 0 4px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.1px;
    font-weight: 500;
}

.user-title {
    padding-left: 8px;
    padding-right: 8px;
}

.assert-title {
    font-weight: 300;
}

.badge-actions {
    margin-left: 4px;
    padding: 3px 6px;
}

.epic-status {
    float: right;
    margin-top: 3px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 10px;
    font-weight: 500;
}

.api-label {
  text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 500;
    font-size: 14px;
}

.vertical-spacer {
  height: 24px;
}

.label-expect {
    background-color: #fff;
    border: 1px solid #9E9E9E;
    color: #9C27B0;
    font-weight: 500;
}

.label-epic {
    background-color: #fff;
    border: 1px solid #2196F3;
    color: #03A9F4 !important;
    font-weight: 500;
    margin: 0 8px;
}

.label-brand {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.1px;
    margin-left: -14px;
    background-color: #000;
}

.input-epic {
  margin-left: 8px !important;
}

input[type=checkbox] {
    margin-top: 0;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    padding: 10px;
}

.api-name {
    font-size: 12px;
    letter-spacing: 1.1px;
}

.api-method {
    display: inline-block;
    text-overflow: ellipsis;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
}

.testsPlan-start {
    float: right!important;
    position: absolute;
    top: 18px;
    right: 32px;
}

.api-called {
  background-color: burlywood;
}

.empty-icon {
  font-size: 36px !important;
  margin-top: 80px;
  color: #6E6E6E;
}

.empty-title {
  margin-top: 48px;
  color: #6E6E6E;
}

.empty-paragraph {
  margin-top: 12px;
  color: #9E9E9E;
}

