.app-logo {
    width: 24px;
}

.app-navbar {
    background-color: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}

.app-border {
    padding: 8px;
}

body {
    background-color: #F7F7F7;
}











.right-pane {
    float: right;
}

.left-pane {
    float: left;
}

.right-pane-method, .left-pane-test {
    font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 6px;
}

.color-green {
    color: #4caf50;
}

.color-red {
    color: #FF5722;
}

ul#menu_horizontal {
    display: inline;
}

ul#menu_horizontal li {
    display: inline;
    padding : 0 0.3em;
}

.left-pane-test {
    border: 1px solid #ddd;
    background: #ddd;
    width: 600px;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 2px;
}

.left-pane-test-asserts {
    background: #ccc;
    padding: 6px;
    margin: 6px;
    border-radius: 2px;
}

.left-pane-test-assert {
    font-size: 16px;
    font-weight: 700;
}

.left-pane-epics {
    background: #efefef;
    margin-left: 6px;
    padding: 8px;
    font-weight: 500;
    border-radius: 2px;
}